@use 'abstracts' as *;

.simpleLayout {
  padding: 2.4rem;

  & > * {
    max-width: var(--simple-layout-max-width);
    margin: 0 auto;
  }

  .simpleLayoutNav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4rem;
    min-height: 4rem;
  }

  @include media-query('lg') {
    padding-top: 5.6rem;
  }

  @include media-query('xl') {
    padding-top: 8rem;
  }
}
