@use 'abstracts' as *;

.dashboardContent {
  @include grid-layout;
  grid-template-rows: min-content;

  grid-column: 1 / -1;

  .dashboardContentNav {
    color: $color-white;
    background-color: $color-black-default;
    grid-column: 1 / -1;
    height: 5.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.4rem;
  }

  .dashboardJobContainerWrapper {
    grid-column: 1 / -1;
    padding: 3.2rem 2.4rem;
  }

  @include media-query('md') {
    .dashboardContentNav,
    .dashboardJobContainerWrapper {
      grid-column: center-start / center-end;
    }

    .dashboardContentNav {
      border-radius: 1rem;
    }

    .dashboardJobContainerWrapper {
      padding: 3.2rem 0;
    }
  }

  @include media-query('xl') {
    grid-column: 5 / -1;

    .dashboardContentNav,
    .dashboardJobContainerWrapper {
      grid-column: 1 / -1;
    }
  }
}
