/* == bright colors == */
$color-purple: #ad1fea;
$color-blue-dark: #4661e6;
$color-blue-light: #62bcfa;
$color-orange: #f49f85;
$color-red: #d73737;

/* == dark colors == */
$color-black-default: #373f68;
$color-black-blue: #3a4374;
$color-black-grey: #647196;
$color-black: #000;

/* == light colors == */
$default-white-bg: #f2f2f2;
$color-white: #ffffff;
$color-white-smoke: #f2f4ff;
$color-white-off: #f7f8fd;
$color-white-blue: #cfd7ff;
$color-grey: #999898;

/* others */
$default-border-radius: 0.8rem;
