@use 'abstracts' as *;

.selectInputWrapper {
  display: grid;
  grid-template-columns: 1fr 3.4rem;

  .selectInputIcon {
    display: none;

    &:checked + .selectInput {
      outline: 1px solid $color-blue-dark;
    }
  }

  .selectIcon {
    align-self: center;
    grid-column: 2 / -1;
    grid-row: 1;
    height: 8px;
    justify-self: start;
    pointer-events: none;
    width: 1rem;
    z-index: 1;
  }

  .selectInput {
    @extend %basic-input;

    grid-column: 1 / -1;
    grid-row: 1;
    text-transform: capitalize;

    &.inputError {
      border: 1px solid $color-red;

      + .inputErrorMsg {
        color: $color-red;
      }
    }
  }
}
