@use 'abstracts' as *;

.jobsContainers {
  display: grid;
  grid-auto-rows: min-content;
  max-height: 75svh;
  row-gap: 1.6rem;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none; /* for Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}
