@use 'abstracts' as *;

.dashboardAside {
  @include media-query('md') {
    column-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-query('xl') {
    grid-template-columns: none;
    grid-template-rows: repeat(2, min-content);
    row-gap: 2.4rem;
  }
}
