@import "imports/main-imports";

.otherProfessionWrapper {
  margin-bottom: 16px;
  position: relative;

  .opInputFieldWrapper {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;

    input.opInputField {
      height: 48px;
      grid-column: 1 / -1;
      grid-row: 1;
      text-transform: capitalize;
      font-size: 16px;
      line-height: 24px;

      &::placeholder {
        text-transform: none;
      }

      &.error {
        border: 1px solid $red--true;
      }
    }

    .inputErrorIcon {
      grid-column: 2 / -1;
      grid-row: 1;
      width: 24px;
      height: 24px;
      z-index: 1;
      margin-right: 5px;
    }

    .inputErrorCopy {
      color: $red--true;
      margin-top: 4px;
      font-size: 13px;
      line-height: 20px;
    }
  }

  @include mq-md-up {
    .opInputFieldWrapper {
      input.opInputField {
        height: 34px;
      }
    }
  }
}
