@use 'abstracts' as *;

.group {
  display: grid;
  gap: 1.6rem;

  button:nth-of-type(2) {
    grid-row: 1;
  }

  @include media-query('md') {
    display: flex;
    justify-content: flex-end;
  }
}
