@import "imports/main-imports";

%itemCopyHoverFocusState {
  background-color: #5695f6;
  cursor: pointer;
  color: $primary--white;

  b {
    color: inherit;
  }
}

.otherProfessionItem {
  .itemCopy {
    color: $grey--smoke;
    font-size: 14px;
    line-height: 21px;
    padding: 12px 20px;
    border-radius: 4px;
    height: 100%;

    b {
      color: $primary--black-text;
      font-weight: 500;
      text-transform: capitalize;
    }

    &:hover {
      @extend %itemCopyHoverFocusState;
    }
  }

  &:focus {
    outline: none;

    .itemCopy {
      @extend %itemCopyHoverFocusState;
    }
  }

  @include mq-md-up {
    .itemCopy {
      padding: 2px 20px;
    }
  }
}
