.inputContainer {
  display: grid;
  grid-template-columns: 1fr 6rem;

  & > * {
    grid-row: 1;
  }

  .inputIcon {
    justify-self: center;
    align-self: end;
    grid-column: 2 / -1;
    width: 3rem;
    height: 3rem;
    transform: translateY(-5px);
  }

  div {
    grid-column: 1 / -1;
  }
}
